git+https://github.com/DecodingRaphael/unraphael.git
numpy
opencv-python-headless
platformdirs
rembg
scipy
scikit-image
seaborn
streamlit==1.35
ultralytics
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio
