--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.3.1+cpu
torchvision
torchaudio
git+https://github.com/DecodingRaphael/unraphael.git
numpy
platformdirs
rembg
scipy
scikit-image
seaborn
streamlit==1.35
ultralytics>=8.2
